                        <img src="/images/spacer.gif" border="0" width="464" height="12" alt="">
                </td>
                <td width="100%" valign="top" align="right">
<div style="margin: 4em;">
<!-- IPv6-test.com widget BEGIN -->
<script type="text/javascript">var _ipv6test_widget_style = {
border: "solid 1px #000",
font_size: "12px",
show_country_flags: true,
show_loading_anim: true,
ipv4_label_color: "#393",
ipv4_background_color: "#eee",
ipv6_label_color: "#339",
ipv6_background_color: "#ddd",
stats_position: "bottom",
stats_font_size: "10px",
stats_color: "#eee",
stats_color_v4: "#beb",
stats_color_v6: "#bbe",
stats_background_color: "#666"
}</script>

<div id="_ipv6test_widget" style="width:250px;display:none">loading <a href="http://ipv6-test.com/">IPv6 connection test</a> ...</div><script type="text/javascript" src="http://ipv6-test.com/api/widget.php?domain=referer" async="async"></script>
<!-- IPv6-test.com widget END -->
</div>


                </td>
        </tr>
</tbody></table>






<!-- FOOTER -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr bgcolor="#ff0000">
		<td align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr>
					<td width="3"></td>
					<td align="left" valign="middle">
						<a href="/contact/" class="navbar">Contact</a>
					</td>
					<td>
						<img src="/images/spacer.gif" width="1" height="17" border="0">
					</td>
					<td align="right" valign="middle">
						<font color="#ffc0c0">
							<a href="/contact/" class="navbar">Home</a>
						</font>
					</td>
					<td width="3"></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr bgcolor="#000000"> 
		<td height="1">
		</td>
	</tr>
</tbody></table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr> 
		<td align="left">
			<img src="/images/spacer.gif" border="0" width="620" height="3" alt="">
		</td>
	</tr>
	<tr> 
		<td align="right">
			<font size="1" face="Arial, Helvetica, sans-serif">All Rights Reserved, Copyright &copy; Highrise Community Network 2002</font>
			<img src="/images/spacer.gif" width="3" height="8" alt="">
		</td>
	</tr>
</tbody></table>

</body>
</html>
