                        <img src="/images/space.gif" border="0" width="464" height="12" alt="">
                </td>
                <td width="100%">

                </td>
        </tr>
</tbody></table>






<!-- FOOTER -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr bgcolor="#ff0000">
		<td align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr>
					<td width="3"></td>
					<td align="left" valign="middle">
						<a href="/contact/" class="navbar">Contact</a>
					</td>
					<td>
						<img src="/images/space.gif" width="1" height="17" border="0">
					</td>
					<td align="right" valign="middle">
						<font color="#ffc0c0">
							<a href="/contact/" class="navbar">Home</a>
						</font>
					</td>
					<td width="3"></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr bgcolor="#000000"> 
		<td height="1">
		</td>
	</tr>
</tbody></table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr> 
		<td align="left">
			<img src="/images/space.gif" border="0" width="620" height="3" alt="">
		</td>
	</tr>
	<tr> 
		<td align="right">
			<font size="1" face="Arial, Helvetica, sans-serif">All Rights Reserved, Copyright &copy; Highrise Community Network 2002</font>
			<img src="/images/space.gif" width="3" height="8" alt="">
		</td>
	</tr>
</tbody></table>

</body>
</html>
