<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<title>{{ page.title }} </title>
	<link rel="STYLESHEET" type="text/css" href="http://www.highrise.ca//highrise.css">
	<link REL="Shortcut Icon" HREF="http://www.highrise.ca/highrise.ico" TYPE="image/x-icon">
</head>
<body bgcolor="#ffffff" text="#000000" vlink="#0033cc" alink="#0033cc" link="#0033cc" marginheight="0" marginwidth="0" leftmargin="0" topmargin="0">

<basefont size="1">


<a name="top">
<!-- Top of Page -->
</a>

<!-- MAIN NAVIGATION -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td width="10">&nbsp;</td>
		<td align="left" valign="top">
			<img src="/images/64x72.jpg" border="0">
		</td>
		<td align="right" valign="middle" width="100%">
			<font size="+2" color="#4c0aa0">
				<b>H&nbsp;I&nbsp;G&nbsp;H&nbsp;R&nbsp;I&nbsp;S&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;O&nbsp;M&nbsp;M&nbsp;U&nbsp;N&nbsp;I&nbsp;T&nbsp;Y&nbsp;&nbsp;&nbsp;&nbsp;N&nbsp;E&nbsp;T&nbsp;W&nbsp;O&nbsp;R&nbsp;K</b>
			</font>
			<img src="/images/rule.gif" width="100%" height="2" border="0">
			&nbsp;
		</td>
	</tr>
</tbody></table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr align="left" bgcolor="#ff0000">
		<td width="50">
			&nbsp;<a href="/" class="navbar">Home</a>&nbsp;
		</td>
		<td width="1" bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="50">
				&nbsp;<a href="/services/" class="navbar">Services</a>&nbsp;
		</td>
		<td bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="50">
			&nbsp;<a href="/directory/" class="navbar">Users</a>&nbsp;
		</td>
		<td bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="49%">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td colspan="7" width="50%">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
	</tr>
	<tr bgcolor="#000000">
		<td colspan="14" height="1"></td>
	</tr>
	<tr bgcolor="#cccccc">
		<td colspan="7" width="50%">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="49%">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="50">
			&nbsp;<a href="/site/" class="nav">Site&nbsp;Map</a>&nbsp;
		</td>
		<td bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="50">
			&nbsp;<a href="/contact/" class="nav">Contact</a>&nbsp;
		</td>
		<td bgcolor="#000000">
			<img src="/images/space.gif" width="1" height="17" border="0">
		</td>
		<td width="50">
			&nbsp;<a href="/search/" class="nav">Search</a>&nbsp;
		</td>
	</tr>
	<tr bgcolor="#000000">
		<td colspan="14" height="1"></td>
	</tr>
<!--
	<tr bgcolor="#cccccc">
		<td colspan="14">
			&nbsp; <!--#ECHO VAR="NAV_PATH" -->
		</td>
	</tr>
	<tr bgcolor="#000000">
		<td colspan="14" height="1"></td>
	</tr>

	<!-- No NAV_PATH -->
           -->
</tbody></table>



{{ content }}



<!-- FOOTER -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr bgcolor="#ff0000">
		<td align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr>
					<td width="3"></td>
					<td align="left" valign="middle">
						<a href="/contact/" class="navbar">Contact</a>
					</td>
					<td>
						<img src="/images/space.gif" width="1" height="17" border="0">
					</td>
					<td align="right" valign="middle">
						<font color="#ffc0c0">
							<a href="/contact/" class="navbar">Home</a>
						</font>
					</td>
					<td width="3"></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr bgcolor="#000000"> 
		<td height="1">
		</td>
	</tr>
</tbody></table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr> 
		<td align="left">
			<img src="/images/space.gif" border="0" width="620" height="3" alt="">
		</td>
	</tr>
	<tr> 
		<td align="right">
			<font size="1" face="Arial, Helvetica, sans-serif">All Rights Reserved, Copyright &copy; Highrise Community Network 2002</font>
			<img src="/images/space.gif" width="3" height="8" alt="">
		</td>
	</tr>
</tbody></table>

</body>
</html>
